<div id="files_grid"></div>
<script>
$(document).on('ready', function () {

	var fields = {

	};
	var params = [];

	params.push(new MIE.WC_DataVis.ParamInput('report', {
				inputName: 'filename',
				inputType: 'text',
				reportMethod: 'cgi',
				cgi: {
					name: 'filename'
				}
			}));

	var source = new MIE.WC_DataVis.Source({
			name: 'Source #1',
			type: 'http',
			url: 'tvnasjson.py',
//			conversion: ['link'],
		}, params, fields, {
		deferDecoding: true,
		passThroughParams: true,
	});

	var view = new MIE.WC_DataVis.View(source);
	new MIE.WC_DataVis.Grid('files_grid', view, {
		id: 'files_grid',
		table: {
			features: {
				rowSelect: true,
				floatingHeader: true,
				limit: true,
			},
			floatingHeader: {
				method: 'tabletool'
			},
			limit: {
				threshold: 50,
			},
		},
		source: source
	}, {
		title: 'Very NAS Files',
		showControls: true
	});

});
</script>
