<ul id="menu">
  <li data-page="home"><div>Home Dashboard</div></li>
  <li data-page="orgs"><div>Organizations</div></li>
  <li data-page="control"><div>Control Panel</div>
    <ul>
      <li data-page="people"><div>People</div></li>
      <li data-page="items"><div>Items</div></li>
      <li data-page="itemforms"><div>Item Forms</div></li>
    </ul>
  </li>
</ul>
 
